<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TalentTalks</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="container">
                    <img class="logo" src="Assets/img/Logo.png" alt="">
                    <h2>Welcome to TalentTalks</h2>
                    <div class="online-status">100+ online now</div>
                </div>
            </nav>
        </header>
        <main>
            <div class="main-container">
                <p>You don't need an app to use TalentTalks on your phone or tablet! The web site works great on mobile.</p>
                <p>
                    Experience the element of surprise with our randomized session feature. Each session presents a variety of interview scenarios, challenging you to think on your feet and adapt to different situations. This dynamic approach enhances your versatility and prepares you for any interview scenario.
                </p>

                <p>
                    It is more than just a practice platform; it's a confidence-building tool. We provide a supportive environment for you to refine your responses, receive constructive feedback, and grow in your interview skills.
                </p>
                <p>
                    Ready to forge your path to success? Let's start interviewing!
                </p>

                <h2 class="monitored-text">Video is monitored. Keep it clean</h2>
                <div class="action-container">
                    <p class="start-chat">Start Chatting</p>
                    <div class="button-container">
                        <button class="action-button">
                            <a href="/text_chat">Text Chat</a>
                        </button>
                        <button class="action-button">
                            <a href="/video_chat">Video Chat</a>
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    </body>
</html>