
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TalentTalks</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="container">
                    <img class="logo" src="Assets/img/Logo.png" alt="">
                    <h2>Welcome to TalentTalks</h2>
                    <div class="online-status">100+ online now</div>
                </div>
            </nav>
        </header>
        <main class="video_chat_main_container">
            <div class="video_chat_container" style="justify-content: center;align-items: center;"›>
                <div class="chat-container">
                    <div class="chat-text-container">
                        <p>You are now chatting with a interviewer</p>
                        <p>You both speak the same language - English</p>
                        <hr class="horizontal-divider">
                        <p class="chat-text-area"></p>
                    </div>
                    <div class="next-chat-container">
                        <div class="next-chat">
                            <div>Next</div>
                        </div>
                        <div class="type-message">
                            <textarea name="" id="msg-input" cols="25" rows="5"></textarea>
                        </div>
                        <div class="msg-send-button">Send</div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
